<div class="card shadow border-0 mt-4">

	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-primary py-2">Orders list</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<table id="tblData" @* Add id for table to use *@ class=" table table-bordered table-striped"
			   style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Address</th>
					<th>Phone Number</th>
					<th>Status</th>
					<th>Total</th>
				</tr>
			</thead>

		</table>
	</div>
</div>
@section Scripts {
	<script src="~/js/order.js"></script>
} 